.partners {
    background: #FFFDF7;
    padding: 5%;
}

.partners .content .title {
    font-family: TAN-AESOP;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: #A2441B;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
}

.partners .content .description {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: #A2441B;
    display: block;
    width: 80%;
}

/* Media Query for mobile devices */
@media (max-width: 800px) {

    .partners {
        background: #FFFDF7;
        padding: 7.5%;
    }

    .partners .content .title {
        font-size: 1.5rem;
        line-height: 2rem;
        text-align: center;
    }

    .partners .content .description {
        font-size: 0.9rem;
        text-align: center;
        width: 100%;
    }


}